body {
    margin-left: 10px;
}

hr {
    border-color: rgb(119, 121, 121);
    border-width: 7px;
    border-style: dotted none none none;
    width: 80%;
}

h1, h2, h3 {
    color: rgb(14, 98, 125)
}

.circular {
    clip-path: circle(100px at center);
    margin-left: -50px;
}
